*{
  margin: 0%;
  padding: 0%;
}
body {
    background-color: rgb(12,11,11);
    color: white;
  }

  .right-aligned {
    float: right; /* Move the navigation bar to the right */
    margin-right:50px; /* Add space on the right side */
    
  }
  
  .right-aligned a {
    display: inline-block; /* Make navigation links behave like buttons */
    height: 20px;
    padding-top: 20px;
    padding: 10px 15px; /* Add padding for spacing between links */
    margin:  30px; /* Add some margin between links */
    background-color: #f1f1f1; /* Set background color for links */
    text-decoration: none; /* Remove underline from links */
    color: black; /* Set text color for links */
    margin-left: 30px; /* Add rounded corners for a nicer look */
    border-radius: 5px;


  }

  .right-aligned > h1{
    position: relative;
    display: inline;
    margin-right: 900px;

  }
  
  .right-aligned a:hover {
    background-color: #00ffff; /* Change background color on hover */
  }
  

nav a {
    text-decoration-line: none;
    /* margin: 60px; */
    color: white;
    
    
  }
  img{
    display: inline;
    margin-left: 60%  ;
    width: 700px;
    /* height: 500px; */
    border-radius:50px rgb(12,11,11);
    margin-top: 5% ;
  }
  /* audio{
   display: inline;
  position: relative;
  width: 130PX;
  height: 40px;
  margin-top: 30%;
  }   */
 button{
  width: 100px;
  height: 100px;
  background-color: transparent;
 }

 #intro{
  display: inline;
  position: absolute;
  margin-top: 20%;
  padding-left: 150px;
  font-size: 40px;
 }

 #intro > p{
  font-size: 60px;
  display: inline;
 }

 #intro > img{
  
  display: inline;
  width: 40px;
  margin: 0px;
  /* padding-right: 20%; */
}

 

