*{
  margin: 0%;
  padding: 0%;
}

body {
    background-color: rgb(12, 11, 11);
    color: white;
  }
  
  .right-aligned {
    float: right;
    /* margin-right:50px; */
    
  }

  .right-aligned a {
    display: inline-block; /* Make navigation links behave like buttons */
    height: 20px;
    padding-top: 20px;
    padding: 10px 15px; /* Add padding for spacing between links */
    margin:  30px; /* Add some margin between links */
    background-color: #f1f1f1; /* Set background color for links */
    text-decoration: none; /* Remove underline from links */
    color: black; /* Set text color for links */
    margin-left: 30px; /* Add rounded corners for a nicer look */
    border-radius: 5px;
  }
  .right-aligned > h1{
    position: relative;
    display: inline;
    margin-right: 900px;

  }
#form{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10%;
  padding-bottom: 3%;
  
}

.inputs{
  padding-left: 7.5%;
  padding-top: 10%;

}

.inputs > input{
  width: 500px;
  height: 50px;
  border-radius: 50px;
}

.inputs > textarea{
  width: 500px;
  border-radius: 10px;
}

.inputs > button{
  width: 150px;
  height: 60px;
  font-size: 20px;
  font-weight:bolder;
  margin-left: 64%;
  margin-bottom: 3%;
  border-radius: 50px;
}

footer{
  text-align: center;
  
  
}
footer > a{
  font-size: 50px;
  color: white;
  padding: 1%;
}