body {
    background-color: rgb(24, 23, 23);
    color: white;
  }
  nav {
    text-align: right;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    background-color: rgb(24, 23, 2);
    height: 50px; 
    flex-direction: row;     
  }

nav > a {
    text-decoration-line: none;
    /* margin: 60px; */
    color: white;
    
    
  }

   nav > a:hover{
    text-shadow:  #00FF00 ;
    background-color: green;
    border: -5px;
  } 

#Slinks {
    text-align: center;
    font-size: larger;
    font-size: 32px;
    margin-bottom: 50px;
    /* margin-left: auto; */
    /* margin-right : auto; */
    color: white;
    background-color: #00FF00;
    
  }

form {
width: 600px;
height: 800px;
align-items: center;
margin-left: auto;
margin-right: auto;
margin-top: 5%;
padding-bottom: 2%;
}  

.inputs{
  padding-left: 15%;
  padding-top: 10%;
}

.inputs >input{
  width: 300px;
  height: 55px;
  border-radius: 40px;
}

.inputs > input:hover{
  background-color: #00ffff;
  box-shadow: 2px #00ffff;
}

.inputs >textarea{
  border-radius: 10px;
}

.inputs > label{
  font-size: 30px;
  margin-right: 3%;
  /* margin-top: 30%; */
}
.inputs > button{
  width: 100px;
  height: 50px;
  border-radius: 40px;
  font-size: 20px;
  font-weight: bolder;
}

.inputs > button:hover{
  cursor: pointer;
  background-color: #00ffff;
  box-shadow: #00ffff ;
}