*{
  margin: 0%;
  padding: 0%;
}

body {
  background-color: rgb(12, 11, 11);
  color: white;
}


.right-aligned {
  float: right; /* Move the navigation bar to the right */
  margin-right:50px; /* Add space on the right side */
  
}

.right-aligned a {
  display: inline-block; /* Make navigation links behave like buttons */
  height: 20px;
  padding-top: 20px;
  padding: 10px 15px; /* Add padding for spacing between links */
  margin:  30px; /* Add some margin between links */
  background-color: #f1f1f1; /* Set background color for links */
  text-decoration: none; /* Remove underline from links */
  color: black; /* Set text color for links */
  margin-left: 30px; /* Add rounded corners for a nicer look */
  border-radius: 5px;


}

.right-aligned > h1{
  position: relative;
  display: inline;
  margin-right: 900px;

}
  .video > video {
    position: relative;
    display: inline;
    width: 600px;
    margin-left: 33%; 
    
  }

  .video > p{
    
    text-align: center;
    font-size: 35px;
    color: aqua;
  }