body {
  background-color: rgb(24, 23, 23);
  color: white;
}

nav {
    display: flex;
    justify-content: space-evenly;
    text-align: right;
    padding-top: 20px;
    background-color: rgb(24, 23, 2);
    height: 50px;       
  }

nav a {
    text-decoration-line: none;
    /* margin: 60px; */
    color: white;  
  }

  .video > video {
    position: relative;
    display: inline;
    width: 600px;
    margin-left: 33%; 
    
  }

  .video > p{
    
    text-align: center;
    font-size: 35px;
    color: aqua;
  }